@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Kapakana:wght@300..400&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-jersey: 'Jersey 10', sans-serif;
  --font-kapakana: 'Kapakana', cursive;
  --font-newsreader: 'Newsreader', serif;
}

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #F8ECDC;
  }
}

@keyframes scroll-left{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
}

.animate-scroll-left{
  animation: scroll-left 22s linear infinite;
  animation-play-state: running;
}

.animate-scroll-left:hover{
  animation-play-state: paused;
}

@keyframes scroll-right{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
}

.animate-scroll-right{
  animation: scroll-left 22s linear infinite;
  animation-play-state: running;
  animation-direction: reverse;
}

.animate-scroll-right:hover{
  animation-play-state: paused;
}